numpy==1.23.5
pandas==2.0.3
qiskit==1.4.2
qiskit_aer==0.13.3
qiskit_algorithms==0.2.2
qiskit_ibmq_provider==0.20.2
qiskit_machine_learning==0.7.1
qiskit_terra==0.46.0
scikit_learn==1.5.0
scipy==1.12.0
sparse==0.15.1
